#dashboard {
    .charts {
        .card {
            border: none;
            border-radius: 16px;

            @include mobile {
                margin-bottom: 24px;
            }

            #mixedchart {
                .apexcharts-legend {
                    inset: unset !important;
                    right: 0 !important;

                    &-series {
                        margin: 2px 12px !important;
                    }

                    &-text {
                        margin-left: 4px !important;
                    }
                }
            }

            #piechart,
            #radarchart {
                .apexcharts-legend {
                    &-series {
                        margin: 2px 12px !important;
                    }

                    &-text {
                        margin-left: 4px !important;
                    }
                }
            }
        }
    }

    .others {
        .card {
            border: none;
            border-radius: 16px;

            &-body {
                #traffic-by-site {
                    .text-center {
                        border-radius: 8px;
                        border: 1px solid $borderColor;
                        padding: 20px 0;

                        i {
                            font-size: 1.4rem;
                        }

                        .fab.fa-facebook-f {
                            color: #1877f2;
                        }

                        .fab.fa-google {
                            color: #df3e30;
                        }

                        .fab.fa-linkedin-in {
                            color: #006097;
                        }

                        .fab.fa-twitter {
                            color: #1c9cea;
                        }

                        h5 {
                            margin: 10px 0;
                        }

                        p {
                            color: $textColor;
                            font-size: 0.9rem;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
