#products {
    .product-title {
        .action {
            @include flexCenter;
            justify-content: flex-end;

            @include mobile {
                margin-top: 2rem;
            }

            .filters {
                cursor: pointer;
                padding-left: 8px;

                span {
                    font-size: 0.9rem;
                    font-weight: weight(bold);
                }

                button {
                    @include w-h-40;
                    border-radius: 50%;
                    background: transparent;
                    border: none;
                    outline: none;
                }

                &:hover {
                    background: $backgroundHoverColor;
                    border-radius: 8px;
                }
            }

            .offcanvas {
                width: 280px;
                z-index: 1203;
                transition: all 0.3s ease;

                &-header {
                    border-bottom: 1px solid $borderColor;
                    padding: 1.6rem 1rem;

                    .btn-close {
                        border-radius: 50%;

                        &:hover {
                            background: $backgroundHoverColor
                                url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
                                center/1em auto no-repeat;
                        }
                    }
                }

                &-body {
                    .gender,
                    .category,
                    .price {
                        .form-check {
                            margin: 16px;

                            &-input,
                            label {
                                cursor: pointer;
                            }

                            &-input[type="checkbox"] {
                                border-radius: 0.15rem;
                                border: 2px solid rgb(99, 115, 129);

                                &:checked {
                                    border-color: $borderColorActive;
                                    background: $backgroundColorActive
                                        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
                                }
                            }

                            &-input[type="radio"] {
                                border: 2px solid rgb(99, 115, 129);

                                &:checked {
                                    border-color: $borderColorActive;
                                    background: $backgroundColorActive
                                        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
                                }
                            }

                            &-input:focus {
                                border-color: $borderColorActive;
                            }
                        }
                    }

                    .rating {
                        .form-check {
                            border-radius: 8px;
                            margin: 16px 8px 16px 0;
                            cursor: pointer;

                            i {
                                margin-right: 4px;
                            }

                            .fas.fa-star {
                                color: rgb(250, 175, 0);
                            }

                            .far.fa-star {
                                color: rgba(145, 158, 171, 0.8);
                            }

                            &:hover {
                                background: $backgroundHoverColor;
                            }
                        }
                    }

                    .clear-all {
                        @include flexCenter;
                        justify-content: center;
                        border-radius: 8px;
                        border: 1px solid rgba(145, 158, 171, 0.32);
                        height: 48px;
                        cursor: pointer;

                        &:hover {
                            background: $backgroundHoverColor;
                        }
                    }

                    &::-webkit-scrollbar {
                        width: 8px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: rgb(180, 188, 195);
                        border-radius: 20px;
                        border: 3px solid rgb(180, 188, 195);
                    }
                }
            }

            .modal-backdrop {
                z-index: 1202;
            }

            .sort-by {
                @include flexCenter;
                border: none;
                background: transparent;
                cursor: pointer;
                margin-left: 20px;
                padding: 8px;

                h6 {
                    font-size: 0.9rem;
                    font-weight: weight(bold);
                    margin-right: 8px;

                    span {
                        font-weight: weight(regular);
                    }
                }

                &:hover {
                    background: $backgroundHoverColor;
                    border-radius: 8px;
                }
            }

            .dropdown-menu {
                border: none;
                border-radius: 8px;

                li {
                    &.active {
                        background: $backgroundHoverColor;
                    }

                    .dropdown-item {
                        font-size: 0.9rem;

                        &:active {
                            background: $backgroundHoverColor;
                            color: $primaryColor;
                        }
                    }
                }
            }
        }
    }

    .products {
        &-list {
            .col-md-3 {
                @include tablet {
                    width: 50%;
                }
            }

            .card {
                border: none;
                border-radius: 16px;
                margin-bottom: 24px;

                .sale,
                .new {
                    height: 22px;
                    border-radius: 8px;
                    @include flexCenter;
                    justify-content: center;
                    padding: 0px 8px;
                    color: rgb(255, 255, 255);
                    font-size: 0.75rem;
                    font-weight: weight(bold);
                    top: 16px;
                    right: 16px;
                    position: absolute;
                    text-transform: uppercase;
                }

                .sale {
                    background: rgb(255, 72, 66);
                }

                .new {
                    background: rgb(24, 144, 255);
                }

                img {
                    border-top-left-radius: 16px;
                    border-top-right-radius: 16px;
                    height: 270px;
                    object-fit: cover;
                }

                &-body {
                    a {
                        .card-title {
                            font-weight: weight(bold);
                            font-size: 0.9rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        &:hover {
                            color: $textColorActive;
                        }
                    }

                    .card-text {
                        @include flexCenter;
                        justify-content: space-between;

                        .color {
                            display: flex;

                            div {
                                margin-left: -4px;
                                border-radius: 50%;
                                width: 16px;
                                height: 16px;
                                border: 2px solid rgb(255, 255, 255);
                                box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px
                                    3.2px;
                            }

                            .red {
                                background: red;
                            }

                            .green {
                                background: green;
                            }

                            .black {
                                background: black;
                            }

                            .white {
                                background: white;
                            }

                            .pink {
                                background: pink;
                            }

                            .blue {
                                background: blue;
                            }

                            .yellow {
                                background: yellow;
                            }

                            div:first-child {
                                margin-left: 0;
                            }
                        }

                        .price {
                            &-old {
                                color: $textColor;
                                text-decoration: line-through;
                                margin-right: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}
