#users .users {
    .card {
        border: none;
        border-radius: 16px;
        background: unset;

        &-body {
            padding: 0;

            @include mobile {
                overflow: hidden;
            }

            .search {
                padding: 1rem 1rem 0 1rem;

                form {
                    position: relative;

                    input {
                        width: 260px;
                        border-radius: 8px;
                        padding: 16.5px 14px 16.5px 40px;
                        transition: all 0.3s ease;

                        @include mobile {
                            width: 180px;
                        }

                        &:focus {
                            width: 340px;
                            border: 1px solid #ced4da;
                            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

                            @include mobile {
                                width: 220px;
                            }
                        }
                    }

                    i {
                        @include positionAbsolute;
                        color: $textColor;
                        top: 22px;
                        left: 14px;
                        bottom: unset;
                        right: unset;
                        z-index: 1199;
                    }

                    button {
                        @include w-h-40;
                        border-radius: 50%;
                        background: transparent;
                        border: none;
                        outline: none;

                        &:hover {
                            background: $backgroundHoverColor;
                        }
                    }
                }
            }

            .selected-action {
                @include positionAbsolute;
                @include flexCenter;
                justify-content: space-between;
                padding: 0 30px;
                height: 96px;
                color: rgb(0, 171, 85);
                background-color: rgb(200, 250, 205);
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
                transition: all 0.3s ease;
                visibility: hidden;
                opacity: 0;
                z-index: 1199;

                @include mobile {
                    padding: 0 20px;
                }

                button {
                    @include w-h-40;
                    border-radius: 50%;
                    background: transparent;
                    border: none;
                    color: $textColor;
                    outline: none;
                    font-size: 1.2rem;

                    &:hover {
                        background: $backgroundHoverColor;
                    }

                    @include mobile {
                        margin-right: -10px;
                    }
                }

                span {
                    font-weight: weight(bold);
                }
            }

            .table {
                @include mobile {
                    display: block;
                    overflow-x: auto;
                }

                thead {
                    tr {
                        vertical-align: middle;

                        th:first-child::after {
                            content: "";
                            padding: 0;
                        }

                        th {
                            cursor: pointer;

                            button {
                                @include w-h-40;
                                border-radius: 50%;
                                border: none;
                                background: transparent;
                                outline: none;

                                &:hover {
                                    background: $backgroundHoverColor;
                                }

                                input {
                                    border-radius: 0.15rem;
                                    border: 2px solid rgb(99, 115, 129);

                                    &:checked[type="checkbox"] {
                                        border-color: $borderColorActive;
                                        background: $backgroundColorActive
                                            url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
                                    }

                                    &:focus {
                                        border-color: $borderColorActive;
                                    }
                                }
                            }

                            span i {
                                color: $textColor;
                                cursor: pointer;
                                margin-left: 4px;
                                transition: all 0.3s ease;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        height: 68px;
                        vertical-align: middle;

                        &:hover {
                            background: $backgroundPrimaryColor;
                        }

                        td {
                            font-size: 0.9rem;

                            img {
                                @include w-h-40;
                                border-radius: 50%;
                                margin-right: 10px;
                            }

                            i {
                                color: $textColor;
                            }

                            button {
                                @include w-h-40;
                                border-radius: 50%;
                                border: none;
                                background: transparent;
                                outline: none;

                                &:hover {
                                    background: $backgroundHoverColor;
                                }

                                input {
                                    border-radius: 0.15rem;
                                    border: 2px solid rgb(99, 115, 129);
                                    cursor: pointer;

                                    &:checked[type="checkbox"] {
                                        border-color: $borderColorActive;
                                        background: $backgroundColorActive
                                            url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
                                    }

                                    &:focus {
                                        border-color: $borderColorActive;
                                    }
                                }
                            }
                        }

                        .dropdown {
                            text-align: right;

                            button {
                                &::after {
                                    display: none;
                                }
                            }

                            &-menu {
                                border: none;
                                border-radius: 8px;
                                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
                            }

                            &-item {
                                color: $textColor;
                                font-size: 0.9rem;

                                i {
                                    font-size: 1rem;
                                    margin: 6px 20px 6px 10px;
                                }

                                &:active {
                                    background: $backgroundPrimaryColor;
                                }
                            }
                        }
                    }
                }
            }

            .pagination {
                display: block;
                list-style: none;
                padding: 8px;
                text-align: right;

                li {
                    border-radius: 2px;
                    color: $primaryColor;
                    display: inline-block;
                    margin: 0;
                    transition: 0.15s ease-in;
                    cursor: pointer;

                    &:hover:not(.active) {
                        background: rgba(233, 30, 99, 0.12);
                    }
                }

                &-number,
                &-arrow i {
                    vertical-align: middle;
                }

                &-number {
                    border-radius: 50% !important;
                    font-size: $fontSize;
                    text-align: center;
                    line-height: 24px;
                    min-width: 40px;
                    padding: 8px 0;

                    &.active {
                        background: #ffd91a;
                    }
                }

                &-arrow i {
                    font-size: 16px;
                    padding: 8px;
                }

                @include mobile {
                    text-align: center;
                }
            }
        }
    }
}
