$textColor: rgb(99, 115, 129);
$textColorActive: rgb(0, 171, 85);
$primaryColor: rgb(33, 43, 54);
$backgroundColor: #fff;
$backgroundPrimaryColor: rgb(244, 246, 248);
$backgroundHoverColor: rgba(145, 158, 171, 0.06);
$borderColor: rgba(145, 158, 171, 0.24);
$fontSize: 1rem;
$fontWeights: (
    "regular": 400,
    "medium": 500,
    "bold": 700,
);
$fontFamily: "Public Sans", sans-serif;
$lineHeight: 1.5;
