@import "./resets";
@import "./variables";

@function weight($weight-name) {
    @return map-get($fontWeights, $weight-name);
}

@mixin w-h-40 {
    width: 40px;
    height: 40px;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
}

@mixin positionAbsolute {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1200;
}

@mixin positionFixed {
    position: fixed;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1200;
}

@mixin overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;
}

body {
    background: $backgroundColor;
    color: $primaryColor;
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: weight(regular);
    line-height: $lineHeight;
}

a {
    color: $primaryColor;
    text-decoration: none;
}

#app {
    width: 100%;
    height: 100%;
}

.sidebar {
    background: $backgroundColor;
    border-right: 1px solid $borderColor;
    width: 280px;
    height: 100%;
    @include positionFixed;

    &__logo {
        padding: 24px 20px;

        img {
            @include w-h-40;
        }
    }

    &__user {
        margin: 0 20px 40px;

        .profile {
            @include flexCenter;
            background: $backgroundPrimaryColor;
            border-radius: 12px;
            padding: 16px 20px;

            .avatar {
                @include w-h-40;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .name {
                color: $primaryColor;
                margin-left: 16px;
            }
        }
    }

    &__menu {
        ul {
            margin: 0;
            padding: 0;

            li {
                position: relative;
                width: 100%;
                height: 50px;
                @include flexCenter;

                &:hover {
                    background: $backgroundPrimaryColor;
                }

                a {
                    color: $textColor;
                    font-size: 0.875rem;
                    text-transform: capitalize;
                    padding: 8px 20px 8px 40px;
                    position: relative;
                    @include flexCenter;

                    i {
                        font-size: 1.2rem;
                    }

                    span {
                        margin-left: 16px;
                    }
                }

                &.active {
                    border-radius: 0;
                    background: $backgroundPrimaryColor;
                    font-weight: weight(bold);

                    a {
                        color: $textColorActive;
                    }

                    &::before {
                        @include positionAbsolute;
                        background-color: $textColorActive;
                        content: "";
                        width: 3px;
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                        left: unset;
                    }
                }
            }

            img {
                width: 20px;
                height: 20px;
                margin-right: 16px;
            }
        }
    }
}

.main-content {
    margin-left: 280px;

    header {
        @include flexCenter;
        background: transparent;
        justify-content: space-between;
        padding: 0px 40px;
        position: relative;
        height: 88px;

        .search-wrapper {
            @include flexCenter;
            @include w-h-40;
            border-radius: 50%;
            cursor: pointer;
            justify-content: center;

            &:hover {
                background: $backgroundPrimaryColor;
            }

            .toolbar-wrapper {
                @include positionAbsolute;
                @include flexCenter;
                background: $backgroundColor;
                justify-content: space-between;
                height: 88px;
                padding: 0px 40px;
                transform: translateY(-100px);
                transition: all 0.4s ease;
                visibility: hidden;
                opacity: 0;

                input {
                    background: $backgroundColor;
                    border: none;
                    width: 100%;
                    outline: none;
                    padding: 0 10px;
                }
            }
        }

        .user-wrapper {
            @include flexCenter;

            &__notification {
                position: relative;
                margin-right: 16px;

                &:hover .user-wrapper__notification--menu {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(-40px);
                }

                button {
                    @include w-h-40;
                    border-radius: 50%;
                    border: none;
                    background: transparent;
                    outline: none;

                    i {
                        color: $textColor;
                        font-size: 1.2rem;
                    }

                    &:hover {
                        background: $backgroundPrimaryColor;
                    }
                }

                &--menu {
                    position: absolute;
                    top: 100px;
                    right: 0;
                    background: $backgroundColor;
                    border-radius: 8px;
                    width: 360px;
                    transition: all 0.4s ease;
                    visibility: hidden;
                    opacity: 0;

                    .header {
                        @include flexCenter;
                        border-bottom: 1px solid $borderColor;
                        padding: 12px 20px;
                        justify-content: space-between;

                        span {
                            font-weight: weight(medium);
                        }

                        p {
                            color: $textColor;
                            margin: 0;
                            font-size: 0.9rem;
                        }

                        button {
                            @include flexCenter;
                            justify-content: center;

                            i {
                                color: $textColorActive;
                            }
                        }
                    }

                    .content {
                        &-text {
                            color: $textColor;
                            font-size: 0.8rem;
                            font-weight: weight(bold);
                            padding: 12px 20px;
                            text-transform: uppercase;
                            letter-spacing: 1.1px;
                        }

                        &-noti {
                            a {
                                @include flexCenter;
                                background: $backgroundPrimaryColor;
                                padding: 8px 20px;
                                margin: 1px 0px 0px;

                                img {
                                    @include w-h-40;
                                    border-radius: 50%;
                                    margin-right: 16px;
                                }

                                &:hover {
                                    background: $backgroundHoverColor;
                                }
                            }

                            &__text {
                                p {
                                    span {
                                        color: $textColor;
                                        text-transform: unset;
                                        font-size: 0.9rem;
                                        font-weight: weight(regular);
                                    }
                                }

                                span {
                                    color: $textColor;
                                    font-size: 0.8rem;
                                    font-weight: weight(regular);
                                }
                            }
                        }
                    }
                }
            }

            &__profile {
                position: relative;

                &:hover .user-wrapper__profile--menu {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(-40px);
                }

                &--avatar {
                    img {
                        @include w-h-40;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }

                &--menu {
                    position: absolute;
                    top: 100px;
                    right: 0;
                    background: $backgroundColor;
                    border-radius: 8px;
                    width: 260px;
                    transition: all 0.4s ease;
                    visibility: hidden;
                    opacity: 0;

                    &:hover {
                        visibility: visible;
                        opacity: 1;
                    }

                    .name {
                        border-bottom: 1px solid $borderColor;
                        display: inline-grid;
                        padding: 12px 20px;

                        p {
                            color: $textColor;
                            margin: 0;
                            font-size: 0.9rem;
                        }
                    }

                    .profile,
                    .settings {
                        @include flexCenter;
                        width: 100%;
                        padding: 8px 20px;
                        min-height: 48px;
                        font-size: 0.9rem;

                        i {
                            font-size: 1.2rem;
                        }

                        span {
                            margin-left: 16px;
                        }

                        &:hover {
                            background: $backgroundPrimaryColor;

                            i,
                            span {
                                color: $primaryColor;
                            }
                        }
                    }

                    .logout {
                        @include flexCenter;
                        border: 1px solid $borderColor;
                        border-radius: 8px;
                        margin: 12px 16px 16px;
                        justify-content: center;

                        span {
                            padding: 6px 10px;
                            font-size: 0.9rem;
                            font-weight: weight(bold);
                        }

                        &:hover {
                            background: $backgroundPrimaryColor;

                            span {
                                color: $primaryColor;
                            }
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: -40px;
                        right: 3px;
                        border-width: 28px 16px;
                        border-style: solid;
                        border-color: transparent transparent $backgroundColor
                            transparent;
                    }
                }
            }
        }
    }
}
