@import "./resets";
@import "./variables";

@function weight($weight-name) {
    @return map-get($fontWeights, $weight-name);
}

@mixin w-h-40 {
    width: 40px;
    height: 40px;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
}

@mixin positionAbsolute {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1200;
}

@mixin positionFixed {
    position: fixed;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1200;
}

@mixin overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;
}

body {
    background: $backgroundColor;
    color: $primaryColor;
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: weight(regular);
    line-height: $lineHeight;
}

a {
    color: $primaryColor;
    text-decoration: none;
}

#app {
    width: 100%;
    height: 100%;
}

@import "./sidebar";

.main-content {
    margin-left: 280px;

    @import "./header";

    main {
        padding: 30px 40px;

        @import "./cards";

        @import "./users";
    }
}
