* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  background: #fff;
  color: #212b36;
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: #212b36;
  text-decoration: none;
}

#app {
  width: 100%;
  height: 100%;
}

.sidebar {
  background: #fff;
  border-right: 1px solid rgba(145, 158, 171, 0.24);
  width: 280px;
  height: 100%;
  position: fixed;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1200;
}

.sidebar__logo {
  padding: 24px 20px;
}

.sidebar__logo img {
  width: 40px;
  height: 40px;
}

.sidebar__user {
  margin: 0 20px 40px;
}

.sidebar__user .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f4f6f8;
  border-radius: 12px;
  padding: 16px 20px;
}

.sidebar__user .profile .avatar {
  width: 40px;
  height: 40px;
}

.sidebar__user .profile .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.sidebar__user .profile .name {
  color: #212b36;
  margin-left: 16px;
}

.sidebar__menu ul {
  margin: 0;
  padding: 0;
}

.sidebar__menu ul li {
  position: relative;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__menu ul li:hover {
  background: #f4f6f8;
}

.sidebar__menu ul li a {
  color: #637381;
  font-size: 0.875rem;
  text-transform: capitalize;
  padding: 8px 20px 8px 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__menu ul li a i {
  font-size: 1.2rem;
}

.sidebar__menu ul li a span {
  margin-left: 16px;
}

.sidebar__menu ul li.active {
  border-radius: 0;
  background: #f4f6f8;
  font-weight: 700;
}

.sidebar__menu ul li.active a {
  color: #00ab55;
}

.sidebar__menu ul li.active::before {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1200;
  background-color: #00ab55;
  content: "";
  width: 3px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: unset;
}

.sidebar__menu ul img {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.main-content {
  margin-left: 280px;
}

.main-content header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 40px;
  position: relative;
  height: 88px;
}

.main-content header .search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content header .search-wrapper:hover {
  background: #f4f6f8;
}

.main-content header .search-wrapper .toolbar-wrapper {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 88px;
  padding: 0px 40px;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  visibility: hidden;
  opacity: 0;
}

.main-content header .search-wrapper .toolbar-wrapper input {
  background: #fff;
  border: none;
  width: 100%;
  outline: none;
  padding: 0 10px;
}

.main-content header .user-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content header .user-wrapper__notification {
  position: relative;
  margin-right: 16px;
}

.main-content header .user-wrapper__notification:hover .user-wrapper__notification--menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.main-content header .user-wrapper__notification button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: transparent;
  outline: none;
}

.main-content header .user-wrapper__notification button i {
  color: #637381;
  font-size: 1.2rem;
}

.main-content header .user-wrapper__notification button:hover {
  background: #f4f6f8;
}

.main-content header .user-wrapper__notification--menu {
  position: absolute;
  top: 100px;
  right: 0;
  background: #fff;
  border-radius: 8px;
  width: 360px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 1200;
}

.main-content header .user-wrapper__notification--menu .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(145, 158, 171, 0.24);
  padding: 12px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content header .user-wrapper__notification--menu .header span {
  font-weight: 500;
}

.main-content header .user-wrapper__notification--menu .header p {
  color: #637381;
  margin: 0;
  font-size: 0.9rem;
}

.main-content header .user-wrapper__notification--menu .header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content header .user-wrapper__notification--menu .header button i {
  color: #00ab55;
}

.main-content header .user-wrapper__notification--menu .content-text {
  color: #637381;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 12px 20px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.main-content header .user-wrapper__notification--menu .content-noti a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f4f6f8;
  padding: 8px 20px;
  margin: 1px 0px 0px;
}

.main-content header .user-wrapper__notification--menu .content-noti a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.main-content header .user-wrapper__notification--menu .content-noti a:hover {
  background: rgba(145, 158, 171, 0.06);
}

.main-content header .user-wrapper__notification--menu .content-noti__text p span {
  color: #637381;
  text-transform: unset;
  font-size: 0.9rem;
  font-weight: 400;
}

.main-content header .user-wrapper__notification--menu .content-noti__text span {
  color: #637381;
  font-size: 0.8rem;
  font-weight: 400;
}

.main-content header .user-wrapper__profile {
  position: relative;
}

.main-content header .user-wrapper__profile:hover .user-wrapper__profile--menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.main-content header .user-wrapper__profile--avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.main-content header .user-wrapper__profile--menu {
  position: absolute;
  top: 100px;
  right: 0;
  background: #fff;
  border-radius: 8px;
  width: 260px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 1200;
}

.main-content header .user-wrapper__profile--menu:hover {
  visibility: visible;
  opacity: 1;
}

.main-content header .user-wrapper__profile--menu .name {
  border-bottom: 1px solid rgba(145, 158, 171, 0.24);
  display: -ms-inline-grid;
  display: inline-grid;
  padding: 12px 20px;
}

.main-content header .user-wrapper__profile--menu .name p {
  color: #637381;
  margin: 0;
  font-size: 0.9rem;
}

.main-content header .user-wrapper__profile--menu .profile,
.main-content header .user-wrapper__profile--menu .settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 8px 20px;
  min-height: 48px;
  font-size: 0.9rem;
}

.main-content header .user-wrapper__profile--menu .profile i,
.main-content header .user-wrapper__profile--menu .settings i {
  font-size: 1.2rem;
}

.main-content header .user-wrapper__profile--menu .profile span,
.main-content header .user-wrapper__profile--menu .settings span {
  margin-left: 16px;
}

.main-content header .user-wrapper__profile--menu .profile:hover,
.main-content header .user-wrapper__profile--menu .settings:hover {
  background: #f4f6f8;
}

.main-content header .user-wrapper__profile--menu .profile:hover i,
.main-content header .user-wrapper__profile--menu .profile:hover span,
.main-content header .user-wrapper__profile--menu .settings:hover i,
.main-content header .user-wrapper__profile--menu .settings:hover span {
  color: #212b36;
}

.main-content header .user-wrapper__profile--menu .logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(145, 158, 171, 0.24);
  border-radius: 8px;
  margin: 12px 16px 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content header .user-wrapper__profile--menu .logout span {
  padding: 6px 10px;
  font-size: 0.9rem;
  font-weight: 700;
}

.main-content header .user-wrapper__profile--menu .logout:hover {
  background: #f4f6f8;
}

.main-content header .user-wrapper__profile--menu .logout:hover span {
  color: #212b36;
}

.main-content header .user-wrapper__profile--menu::before {
  content: "";
  position: absolute;
  top: -40px;
  right: 3px;
  border-width: 28px 16px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.main-content main {
  padding: 30px 40px;
}

.main-content main .cards .sales .card,
.main-content main .cards .users .card,
.main-content main .cards .orders .card,
.main-content main .cards .reports .card {
  border: none;
  border-radius: 16px;
  padding: 40px 0px;
}

.main-content main .cards .sales .card-body,
.main-content main .cards .users .card-body,
.main-content main .cards .orders .card-body,
.main-content main .cards .reports .card-body {
  padding: 0;
}

.main-content main .cards .sales .card-body .card-icon,
.main-content main .cards .users .card-body .card-icon,
.main-content main .cards .orders .card-body .card-icon,
.main-content main .cards .reports .card-body .card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: auto auto 24px;
}

.main-content main .cards .sales .card-body .card-icon i,
.main-content main .cards .users .card-body .card-icon i,
.main-content main .cards .orders .card-body .card-icon i,
.main-content main .cards .reports .card-body .card-icon i {
  font-size: 1.4rem;
}

.main-content main .cards .sales .card-body h3,
.main-content main .cards .users .card-body h3,
.main-content main .cards .orders .card-body h3,
.main-content main .cards .reports .card-body h3 {
  font-weight: 700;
  line-height: 1.5;
}

.main-content main .cards .sales .card {
  background-color: #c8facd;
  color: #005249;
}

.main-content main .cards .sales .card .card-icon {
  background: linear-gradient(135deg, rgba(0, 123, 85, 0) 0%, rgba(0, 123, 85, 0.24) 100%);
}

.main-content main .cards .users .card {
  color: #04297a;
  background-color: #d0f2ff;
}

.main-content main .cards .users .card .card-icon {
  background: linear-gradient(135deg, rgba(12, 83, 183, 0) 0%, rgba(12, 83, 183, 0.24) 100%);
}

.main-content main .cards .orders .card {
  color: #7a4f01;
  background-color: #fff7cd;
}

.main-content main .cards .orders .card .card-icon {
  background: linear-gradient(135deg, rgba(183, 129, 3, 0) 0%, rgba(183, 129, 3, 0.24) 100%);
}

.main-content main .cards .reports .card {
  color: #7a0c2e;
  background-color: #ffe7d9;
}

.main-content main .cards .reports .card .card-icon {
  background: linear-gradient(135deg, rgba(183, 33, 54, 0) 0%, rgba(183, 33, 54, 0.24) 100%);
}

.main-content main .users .card {
  border: none;
  border-radius: 16px;
}

.main-content main .users .card-body .search form {
  position: relative;
}

.main-content main .users .card-body .search form input {
  width: 260px;
  border-radius: 8px;
  padding: 16.5px 14px 16.5px 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-content main .users .card-body .search form input:focus {
  width: 340px;
  border: 1px solid #ced4da;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.main-content main .users .card-body .search form i {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1200;
  color: #637381;
  top: 22px;
  left: 14px;
  bottom: unset;
  right: unset;
}
/*# sourceMappingURL=main.css.map */